arrow==1.4.0
asgiref==3.11.1
Django==6.0.3
django-filter==25.2
django-ratelimit==4.1.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
Jinja2==3.1.6
jinja2-time==0.2.0
make==0.1.6.post2
MarkupSafe==3.0.3
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
ruff==0.15.8
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
